@use "../utilitaires/variables";

.sousSection__montants {
    margin-bottom: 10px;

    &:first-child {
        margin-top: 10px;
    }
}

.section__sousSection {
    &--typeDeDon, &--don {
        padding-bottom: 15px;
    }
}

.sousSection {
    &__div {
        display: flex;
        
        &--items {
            position: relative;
            border: 2px solid variables.$interactivite;
            background-color: white;
            padding: 12px 0;

            &:first-child {
                border-radius: 10px 0 0 10px;
            }
            &:last-child {
                border-radius: 0 10px 10px 0;
            }

            &:hover {
                background-color: variables.$bleuMoyen;
                color: white;
                border: 2px solid variables.$bleuMoyen;
            }
        }
    }

    &__radio--typeDon {
        appearance: none;
    }

    &__radioLabel--typeDon {
        padding: 12px 20px;
    }

    &__span {
        display: inline-block;
    }

    &__label {
        display: block;
        margin: 5px 0;
    }

    &__champ {
        width: 97%;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 15px;
    }

    &__titre {
        margin-top: 25px;
    }
}

.btnSelectionne {
    background-color: variables.$interactivite;
}