@use "sass:color";
@use "../utilitaires/variables";

/**
* @author Ariane Bohémier
*/

.bouton {
  background-color: variables.$bleuMoyen;
  border-radius: 18px;
  color: black;
  padding: 0.5em 1em;
  text-decoration: none;
  &:after {
    content: "»";
    margin-left: 0.4em;
  }
  &--hover {
    background-color: color.adjust(variables.$bleuPale, $alpha: -0.25);
  }
  &--active {
    background-color: color.adjust(variables.$bleuPale, $alpha: -0.5);
  }
  &--inverse {
    background-color: white;
    border: 2px solid variables.$bleuFonce;
    &--hover {
      border-color: color.adjust(variables.$bleuFonce, $alpha: -0.25);
    }
    &--active {
      border-color: color.adjust(variables.$bleuFonce, $alpha: -0.5);
    }
  }
}

.btn {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid variables.$interactivite;

    &:hover {
        background-color: variables.$bleuMoyen;
        color: white;
        border: 2px solid variables.$bleuMoyen;
    }

    &:focus {
        border: 2px solid variables.$bleuMoyen;
    }
}

.btnSuivant {
    background-color: variables.$interactivite;
    // align-self: flex-end;
}

.btnPrecedent {
    background-color: white;
}