@use "../utilitaires/variables";

/**
* @author Ariane Bohémier
*/

// Styles généraux du main
.header{
    background-color: variables.$bleuFonce;
    display: flex;

    &__logo {
        width: 30%;
        margin: 0 auto;
        padding: 30px 0;
    }
}

main {
    margin: 0 auto;
    width: 90%;
    @media (min-width: 500px) {
        width: 70%;
    }
    @media (min-width: 700px) {
        width: 60%;
    }
    @media(min-width: 1000px) {
        width: 40%;
    }
}

footer{
    background-color: variables.$bleuFonce;
    
    & > p {
        padding: 30px;
        margin: 20px 0 0 0;
        color: white;
        text-align: center;
        font-size: 14px;
    }
}

// Styles du formulaire
.form__section {
    border: none;
}

.divBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0;
}
