@use "sass:color";
/**
* @author Prenom Nom courriel
* @todo Importer la fonte Futura
* @todo Personnaliser les variables selon les spécifications du guide visuel
*       Certaines variables devront être définies par une fonction de coloration
* @todo Compléter selon l'énoncé de l'exercice
* @todo Utiliser le sélecteur & pour les sélecteurs des différentes couleurs
*/

/** Polices de caractères **/
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

@font-face {
  font-family: Futura, sans-serif;
  src: 	url('../fonts/Futura.ttc') format('truetype');
}

$fontePrimaire : 'Passion One', sans-serif;
$fonteSecondaire : Onest, sans-serif;

/** Palette de couleurs **/
// Utiliser http://chir.ag/projects/name-that-color pour obtenir des noms uniques et mémorisables
// Permettez-vous d'utiliser un nom de variable plus explicite si la suggestion de name-that-color est trop étrange

/* Couleurs de base */
$bleuMoyen: #3A5A9E;
$bleuFonce: #143653;
$bleuPale: #C3D9E7;
$interactivite: #6CCDE1;
$erreur: #CA0000;

$bleuMoyenTransparent : color.adjust($bleuMoyen, $alpha: -0.50);

/* Autres couleurs */
$hyperlien: $bleuFonce;

/** Points de rupture **/
$desktop : 601px;